.btn-basic {
  color: var(--extra-color);
  font-weight: 600;
  border: 0.2rem solid var(--extra-color);
  box-shadow: none;

  &:hover {
    color: var(--primary-color-dark);
    border-color: var(--extra-color);
    background-color: var(--extra-color);
  }
}

.btn-reverse {
  color: var(--primary-color-dark);
  font-weight: 600;
  border: 0.2rem solid var(--primary-color-dark);

  &:hover {
    color: var(--extra-color);
    border-color: var(--primary-color-dark);
    background-color: var(--primary-color-dark);
  }
}

.btn-nav {
  color: var(--extra-color);
  font-weight: 600;
  border-color: var(--extra-color);
  box-shadow: none;

  &:hover {
    color: var(--primary-color-dark);
    background-color: var(--extra-color);
  }
}
