.btn-basic {
  color: var(--extra-color);
  font-weight: 600;
  border: 3px solid var(--extra-color);

  &:hover {
    color: var(--primary-color-dark);
    border-color: var(--extra-color);
    background-color: var(--extra-color);
  }
}

.btn-reverse {
  color: var(--primary-color-dark);
  font-weight: 600;
  border: 3px solid var(--primary-color-dark);

  &:hover {
    color: var(--extra-color);
    border-color: var(--primary-color-dark);
    background-color: var(--primary-color-dark);
  }
}
