@import "./variables.css";
@import "./buttons.css";
@import "./components.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--core-color);
  color: var(--extra-color);
  cursor: pointer;

  &:hover {
    background-color: var(--extra-color);
    color: var(--core-color);
  }
}
